
.background{
    background-color: #F1F3F7;
    border-bottom: 2px solid #0F52BA;
    
}

.navbar-light .navbar-nav .nav-link {
    color: #0F52BA;
    font-size: 20px;
    font-weight: bold;
    padding-left:3rem;
}
.fa-chart-area{
    font-size:40px;
    color: #0F52BA;
    margin-left: 1rem;
}
.row{
    margin-left: 0rem!important;
    margin-right: 0rem!important;
}
.banner{
    width: 115%;
}
.content{
    color: #0F52BA;
}
.btn{
    color: #ffffff;
    font-size:20px;
    font-weight: bold;
    padding: 3px 22px;
}
